body {
  font-family: "Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
}

.bld {
	font-weight: bold;
}

circle {
  fill: lightsteelblue;
  stroke: #fff;
  stroke-width: 1.5px;
}

span.filter {
  background-color:#ffffff;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 1em;
  padding-bottom: 0.1em;
  border-style: solid;
  border-color: #729c50;
  border-width:1px;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 10px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
}

path.link.thread {
  stroke: green;
}

path.link.reaction {
  stroke: blue;
}

path.link.at {
    stroke: orange;
}

path.link.broadcast {
    stroke: #999;
}

svg {
  border: 1px solid #ccc;
}
body {
  font: 10px sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 10px sans-serif;
  background: #dd0;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

div:empty::before {
  color: grey;
}
div[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}

div[id='datainfo'] {
    background-color:#ffffff;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    border-style: solid;
    border-color: #729c50;
    border-width:1px;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 10px;
}    

.slidecontainer {
    width: 50%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    border-style: solid;
    border-color: #729c50;
    border-width:1px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}